/*css for the grocerylist project */
body{
  margin: auto;
  max-width: 400px;
  background: linear-gradient(to right, rgba(0, 65, 1, 0.8), rgba(0, 65, 1, 0.5));
  padding-left: 5px;
  padding-right: 5px;
}

h1{
  font-size: 45px;
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  text-align: center;
  -webkit-text-stroke: 1px black;
   color: #BABDB6;
   text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

p{
  margin: 2px;
}

a{
  color: white;
  text-decoration: none;
}

input{
  font-size: 18px;
}

.loginfield{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.centered{
  position: relative;
  text-align: center;
  bottom: 0%;
}

#userdata{
  text-align: left;
}

#logbutton{
  float:right;
  margin: auto;
}

#errorfield{
  position: fixed;
  left: 50%;
  top: 50%;
  font-size: 20px;
  color: #800000;
  background-color: white;
}

#regbutton{
  margin: auto;
  font-size: 20px;
}

ul.list{
  list-style-type: none;
  padding: 0px;
}

.glInput{
  display: block;
  width: 250px;
}

.quantity{
  display: block;
  width: 50px;
}

.buttoncage{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.register input{
  display: block;
}

.logForm{
  width: 170px;
}

.regForm{
  margin: 2px;
}

.actionbutton{
  margin: auto;
  display: block;
  width: 150px;
}

.chgbutton{
  width: 15px;
  height: 100%;
  margin-right: 10px;
  font-size: 17px;
}

.button{
  background-color: #4E9A06;
  font-family: arial;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  border: 2px solid #004101;
  text-align: center;
  padding: 5px;
}

.itemtext{
  width: 100%;
}

.stroked{
	text-decoration: line-through;
}

.item{
  display: flex;
  flex-flow: row;
	font-size: 20px;
  border-radius: 5px;
  border: 2px solid #BABDB6;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
}

.weatherbox{
  margin-top: 10px;
  border: 5px dotted #BABDB6;
  height: 80px;
  bottom: 0%;
  text-align: center;
}

/*for mobile phones*/
@media all and (max-width: 500px){
  .buttoncage{
      display: flex;
      __flex-flow: column;
      justify-content: center;
  }
  .logForm{
    width: 100%;
    margin-top: 10px;
  }
  .glInput{
    width: 100%;
    height: 40px;
  }
  .quantity{
    width: 60px;
    height: 40px;
  }
  h1{
    font-size: 40px;
  }
  input{
  font-size: 25px;
  }
}

/*print style*/
@media print{
  /*hide all buttons*/
  .weatherbox {display:none;}
  .button {display:none;}
  form {display: none;}
  p {display: none;}
  .loginfield {display: none;}

  .item {
    border: none;
  }
  /*draw checkbox beforer items*/
  ul.list li:before{
    content: "\25a1";
    margin-right: 20px;
  }

}
